:root {
  --primary-color: #890c25;
  --primary-dark: #6e091d;
  --text-color: #000000;
  --text-muted: #6c757d;
  --white: #ffffff;
  --transition: all 0.3s ease;
  --card-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: var(--white);
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.hero-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.col-lg-7 {
  margin-bottom: 80px;
}

.hero-subtitle {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 26px;
  font-family: "Inter";
  color: #ffffff;
}

.hero-subtitle i {
  margin-right: 15px;
  font-size: 1.5rem;
}

.hero-title {
  font-family: "Inter";
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 54px;
  style: bold;
}

.btn-hero {
  background-color: #890c25;
  text-align: center;
  font: "Inter";
  color: white;
  min-width: 307px;
  padding: 12px 56px 12px 56px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  transition: var(--transition);
  border: none;
  display: inline-flex;
  align-items: center;
  style: normal;
  gap: 17px;
}

.btn-hero:hover {
  background-color: #6e091d;
  color: var(--white);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hero-stats-wrapper {
  position: relative;
}

.hero-stats {
  position: relative;
  z-index: 2;
}

.hero-icon {
  margin-right: 12px;
}

.stat-item {
  margin-bottom: 30px;
}

.stat-number {
  font: "Inter";
  font-size: 36px;
  font-weight: 700;
  display: block;
  line-height: 1;
}

.stat-label {
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
  margin-top: 10px;
}

.stat-divider {
  width: 100%;
  height: 1px;
  background-color: #a1a1a1;
  border: 1px;
  margin: 20px 0;
}

/* Why Choose Us Section */
.why-choose-us {
  padding: 80px 0;
  background-color: #ffffff;
}

.section-head {
  text-align: center;
  margin-bottom: 30px;
}

.section-title {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #333;
  margin-bottom: 24px;
  line-height: 100%;
}

.section-title span {
  color: var(--primary-color);
}

.section-title::before,
.section-title::after {
  content: "";
  width: 69px;
  height: 2px;
  background: #e8bc00;
  display: inline-block;
}

.section-desc {
  font: "Inter";
  max-width: 1194px;
  margin: 0 auto;
  color: #404040;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 53px;
}

/* Feature Cards */
.feature-card {
  background-color: #ffffff;
  padding: 110px 30px 40px;
  border-radius: 20px;
  text-align: center;
  transition: var(--transition);
  height: 100%;
  border: 1px solid #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
}

.feature-card:hover {
  transform: translateY(-10px);
}

.feature-icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 111px;
  height: 134.5px;
  background: linear-gradient(180deg, #f71f72 0%, #bc1d4e 50%, #890c25 100%);
  color: var(--white);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  position: absolute;
  top: 0px;
  z-index: 2;
}

.feature-title {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 28px;
  color: var(--primary-color);
  margin-top: 49px;
  color: #890c25;
}

.feature-text {
  color: #404040;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 28px;
  margin-left: 18px;
  margin-right: 18px;
  flex-grow: 1;
}

.btn-read-more {
  background-color: #890c25;
  font-family: "Inter";
  color: var(--white);
  padding: 12px 35px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition);
  display: inline-block;
}

.btn-read-more:hover {
  background-color: var(--primary-dark);
  color: var(--white);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }
  .section-title {
    font-size: 1.8rem;
  }
}

/* Ngành Đào Tạo Section */
.majors-section {
  background-color: #fff5f7c2;
  padding: 85px 0 100px;
}

.section-title-alt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #333;
}

.section-title-alt span {
  color: #890c25;
}

.section-title-alt::before,
.section-title-alt::after {
  content: "";
  height: 2px;
  width: 69px;
  background-color: #e8bc00; /* Gold accent */
}

.major-card {
  position: relative;
  height: 298px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 28px;
  /* cursor: pointer; */
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease;
}

.major-card::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.3s ease;
}

.major-card:hover {
  transform: translateY(-5px);
}

.major-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.major-name {
  font-family: "Inter";
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


/* Registration Section */
.registration-container {
  background-color: #890c25;
  border-radius: 40px;
  padding: 60px;
  color: #ffffff;
  margin-bottom: 80px;
  overflow: hidden;
  position: relative;
}

.registration-content h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.registration-content p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 500px;
  opacity: 0.9;
  margin-bottom: 40px;
}

.registration-images {
  position: relative;
  z-index: 1;
}

.registration-students-img {
  width: 100%;
  max-width: 550px;
  display: block;
}

.registration-card {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 35px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  color: #333333;
}

.registration-card h4 {
  color: #890c25;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: "Outfit", sans-serif;
}

.reg-form-control {
  background-color: #fff5f7 !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 12px 20px !important;
  font-size: 15px !important;
  color: #333 !important;
  margin-bottom: 8px;
}

.reg-form-control::placeholder {
  color: #999;
}

.reg-form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 16px 12px;
  appearance: none;
}

.reg-btn-submit {
  background-color: #890c25 !important;
  color: #ffffff !important;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.reg-btn-submit:hover {
  background-color: #6d091e !important;
  transform: translateY(-2px);
}

@media (max-width: 991px) {
  .registration-container {
    padding: 40px 30px;
  }
  
  .registration-content {
    text-align: center;
  }
  
  .registration-content p {
    margin-left: auto;
    margin-right: auto;
  }
  
  .registration-card {
    margin-top: 40px;
  }
}

