:root {
    --primary-color: #890C25;
    --text-color: #000000;
    --gray-light: #f8f9fa;
    --white: #ffffff;
    --transition: all 0.3s ease;
}

body {
    font-family: 'Inter';
    color: var(--text-color);
    background-color: var(--white);
}

/* Page specific styles below */
